/* ---------------------------print report buttons---------------------------*/
#print_btn_reg {
background: #22a6f5;
border: 1px solid #177fbd;
color: white;
display: none;
margin-bottom: 100px;
padding: 6px;
border-radius: 4px;
position: relative;
margin-left: 38%;
margin-right: 38%;
}
#print_btn_ecoregion {
background: #22a6f5;
border: 1px solid #177fbd;
color: white;
display: none;
margin-bottom: 100px;
padding: 6px;
border-radius: 4px;
position: relative;
margin-left: 38%;
margin-right: 38%;
}
#print_btn_country {
background: #22a6f5;
border: 1px solid #177fbd;
color: white;
display: none;
margin-bottom: 100px;
padding: 6px;
border-radius: 4px;
position: relative;
margin-left: 38%;
margin-right: 38%;
}
#print_btn{
background: #22a6f5;
border: 1px solid #177fbd;
color: white;
display: none;
margin-bottom: 100px;
padding: 6px;
border-radius: 4px;
position: relative;
margin-left: 38%;
margin-right: 38%;
}
#print_btn_country :hover {background-color: #177fbd;}
#print_btn_ecoregion:hover {background-color: #177fbd;}
#print_btn_reg:hover {background-color: #177fbd;}
#print_btn:hover {background-color: #177fbd;}
/* ---------------------------hide divs and they will appear on the printed version---------------------------*/
.hidden-print-header-content{display:none;}
/* ---------------------------hide console logs (maintenance mode)--------------------------*/
#messages-console{display: none;}
/* ---------------------------climate charts and titles---------------------------*/

#\23 pa_climate_plot_title> p{ PADDING: 7PX; COLOR: WHITE;}
#\23 CLC2005title > p{PADDING: 7PX; COLOR: WHITE;}
#\23 CLC2000title > p{PADDING: 7PX;COLOR: WHITE;}

#pa_disclaimer_arrow_climate{margin-bottom: 49px; display:none;}
#disclaimer__arrow_2{margin-bottom: 49px; display:none;}
#disclaimer__arrow_3{margin-bottom: 49px; display:none;}

.pa_disclaimer_arrow_climate_inner{content: ""; width: 0; height: 0; border-left: 35px solid transparent; border-right: 35px solid transparent; border-top: 25px solid #6fa227; left: 50%; margin-left: -35px; -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41); Z-INDEX: 99999; MARGIN-TOP: -25PX; position: relative;}
.pa_disclaimer_arrow_climate_inner:before {content: ""; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #fff; bottom: 13px; position: absolute; left: -5px;}
.pa_disclaimer_arrow_climate_inner:after { content: ""; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #6fa227; bottom: 15px; position: absolute; left: -6px;}

.disclaimer__arrow2 {
content: "";
width: 0;
height: 0;
border-left: 35px solid transparent;
border-right: 35px solid transparent;
border-top: 25px solid #6fa227;
position: absolute;
left: 50%;
margin-left: -35px;
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
Z-INDEX: 99999;
MARGIN-TOP: -25PX;
}
.disclaimer__arrow-inner2 {
position: relative;
}
.disclaimer__arrow-inner2:before {
content: "";
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 6px solid #fff;
bottom: 13px;
position: absolute;
left: -5px;
}
.disclaimer__arrow-inner2:after {
content: "";
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #6fa227;
bottom: 15px;
position: absolute;
left: -6px;
}
.disclaimer__arrow-inner3 {
position: relative;
}
.disclaimer__arrow-inner3:before {
content: "";
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 6px solid #fff;
bottom: 13px;
position: absolute;
left: -5px;
}
.disclaimer__arrow-inner3:after {
content: "";
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #6fa227;
bottom: 15px;
position: absolute;
left: -6px;
}
.disclaimer__arrow3 {
content: "";
width: 0;
height: 0;
border-left: 35px solid transparent;
border-right: 35px solid transparent;
border-top: 25px solid #6fa227;
position: absolute;
left: 50%;
margin-left: -35px;
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
Z-INDEX: 99999;
MARGIN-TOP: -25PX;
}
#pa_climate_plot_title{
cursor: pointer;
PADDING: 7PX;
COLOR: WHITE;
background: #79af2d;
display: block;
padding: 0px;
text-align: center;
width: 100%;
z-index: 1000;
DISPLAY: NONE;
}
#CLC2005title{
cursor: pointer;
PADDING: 7PX;
COLOR: WHITE;
background: #79af2d;
display: block;
padding: 0px;
text-align: center;
width: 100%;
z-index: 1000;
DISPLAY: NONE;
}
#CLC2000title{
cursor: pointer;
PADDING: 7PX;
COLOR: WHITE;
background: #79af2d;
display: block;
padding: 0px;
text-align: center;
width: 100%;
z-index: 1000;
DISPLAY: NONE;
}
/*--------------------------leaflet custom buttons------------------------------------------*/
.leaflet-bar a, .leaflet-bar a:hover {
background-color: #fff!important;
width: 44px!important;
height: 44px!important;
line-height: 44px!important;
display: block!important;
text-align: center!important;
text-decoration: none!important;
color: black!important;
margin-bottom: 10px!important;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15)!important;
border-radius: 44px!important;
}
.leaflet-bar a:first-child {
border-radius: 44px!important;
}
.leaflet-bar a:last-child {
border-radius: 44px!important;
border-bottom-right-radius: 44px!important;
border-bottom: none!important;
}
.leaflet-bar {
box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
border-radius: 4px!important;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div.leaflet-control-zoom.leaflet-bar.leaflet-control{
margin-top: 22px;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control{
    margin-top: 209px!important;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control > form > div.leaflet-control-layers-overlays{
    padding-left: 15px;
    padding-top: 6px;
}
.leaflet-control-layers label {
display: block;
margin-top: 1px!important;
border-bottom: 1px solid #e3e3e3!important;
padding-bottom: 5px!important;
font-weight: 100;
padding-left: 10px;
}
.legend {
line-height: 18px;
color: #555;
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-search.leaflet-control.search-exp > label{
display: block!important;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-search.leaflet-control{
position: relative;
margin-left: 0px;
margin-top: 53px;
MARGIN-BOTTOM: -27PX;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div.leaflet-control-search.leaflet-control{
position: relative;
margin-Bottom: 360px;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control{
position: relative;
margin-top: 46px;
background-color: white;
min-width: 264px;
margin-right: 0px!important;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right{
z-index: 22;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div.leaflet-control-search.leaflet-control{
position: absolute;
margin-top: -474px;
margin-left: 200px;
width: 183px;
}
#leaflet-map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div{
display:none;
}
#leaflet-map{
margin-top: 36px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
background: rgb(255, 255, 255)!important;
box-shadow: 0 3px 14px rgba(0, 0, 0, 0.21);
color: #414141;
border-radius: 0px!important;
}
#leaflet-map{
-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.48);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.51);
position: relative;
z-index: 91;
}
/*-------------------------------LEAFLET SEARCH---------------------------------*/
.leaflet-control-search .search-tooltip {
position: static!important;;
margin-top: 53px!important;;
float: right!important;;
list-style: none!important;;
padding-left: 0!important;;
min-width: 239px!important;;
max-height: 458px!important;;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0)!important;;
background-color: rgba(255, 255, 255, 0.78);
z-index: 1010!important;;
overflow-y: HIDDEN!important;;
overflow-x: hidden!important;;
cursor: pointer!important;;
max-width: 259px!important;;
word-wrap: break-word!important;;
FONT-SIZE: 11PX!important;;
margin-left: -219px!important;;
}
/*------------------------------- highchart border bottom---------------------------------------*/
.highcharts-container {border-bottom: 1px solid #e5e5e5;}
/*------------------------------- side bar layers info and graphs---------------------------------------*/
/*WDPA CONTAINER CHARTS*/
#block-block-127{
display:none;
}
#container2 > p{
margin-bottom: 0px;
padding-top: 2px;
padding-bottom: 0px;
font-weight: 100;
text-align: left;
border-bottom: 1px solid white;
padding-left: 23px;
background: #79af2d;
color: white;
font-size: smaller;
}
#container2 > p:nth-child(6) > b{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 450px;
}
#container2 > p > b{
text-align: right!important;
display: block;
padding-right: 10px;
}
#container2{ 
min-width: 420px!important;
height: 300px!important;
float: right;
margin-top: -328px;
background: white;
width: 80px;
position: relative;
z-index: 999;
}
#container3{
float: right;
margin-top: -646px;
position: relative;
z-index: 999999;
}
#container8 > center > a{
color: white;
}
#container8 > center{
background-color: #22a6f5;
padding: 13px;
}
#container8{   
min-width: 420px!important;
height: 700px!important;
float: right;
margin-top: -700px;
background: white;
z-index: 99;
position: relative;    
max-width: 420px;
box-shadow: -6px 0px 10px 1px rgba(106, 106, 106, 0.17);
}
/*WDPA CONTAINER CHARTS-----------------------------------------------END*/
/*ECOREGION CONTAINER CHARTS*/
#block-block-128{
display:none;
}
#container4{
float: right;
margin-top: -654px;
background: white;
padding: 10px;
position: relative;
z-index: 999;
}
#container5{
float: right;
margin-top: -700px;
background: white;
height: 700px;
box-shadow: -6px 0px 10px 1px rgba(106,106,106,0.17);
position: relative;
z-index: 999;
}
#container5 > center{
background-color: #22a6f5;
padding: 13px;
}
#container5 > center > a{
color: white;
}
#container6{
float: right;
margin-top: -135px;
background: white;
padding: 10px;
MAX-WIDTH: 57PX;
position: relative;
z-index: 999;
}
#container6 > p{
text-align: left;
font-weight: 100;
text-transform: capitalize;
}
#container6 > p > b{
font-weight: 400;
text-transform: uppercase;
}
#container7{
float: right;
margin-top: -75px;
background: white;
padding: 10px;
position: relative;
z-index: 999;
}
#container7 > p{
text-align: left;
font-weight: 100;
text-transform: capitalize;
}
#container7 > p > b{
font-weight: 400;
text-transform: uppercase;
}
#container24{
float: right;
margin-top: -406px;
background: white;
position: relative;
z-index: 999;
}
/*ECOREGION CONTAINER CHARTS-----------------------------------------------END*/
/*REGION CONTAINER CHARTS*/
#block-block-135{
display:none;
}
#container14{
float: right;
margin-top: -609px;
background: white;
padding: 10px;
position: relative;
z-index: 999;
}
#container15{
float: right;
margin-top: -700px;
background: white;
height: 700px;
box-shadow: -6px 0px 10px 1px rgba(106,106,106,0.17);
position: relative;
z-index: 999;
}
#container15 > center {
background-color: #22a6f5;
padding: 13px;
}
#container15 > center > a {
color: white;
}
#container16{
float: right;
margin-top: -202px;
background: white;
padding: 10px;
MAX-WIDTH: 57PX;
position: relative;
z-index: 999;
}
#container16 > p{
text-align: left;
font-weight: 100;
text-transform: capitalize;
}
#container16 > p > b{
font-weight: 400;
text-transform: uppercase;
}
#container17{
float: right;
margin-top: -127px;
background: white;
padding: 10px;
position: relative;
z-index: 999;
}
#container17 > p{
text-align: left;
font-weight: 100;
text-transform: capitalize;
}
#container17 > p > b{
font-weight: 400;
text-transform: uppercase;
}
/*REGION CONTAINER CHARTS-----------------------------------------------END*/
/*COUNTRY CONTAINER CHARTS*/
#block-block-136{
display:none;
}
#container_country_name {
float: right;
margin-top: -700px;
background: white;
height: 700px;
box-shadow: -6px 0px 10px 1px rgba(106,106,106,0.17);
position: relative;
z-index: 999;
}
#container_country_name > center > a {
color: white;
}
#container_country_name > center {
background-color: #22a6f5;
padding: 13px;
}
#container_country_data {
float: right;
margin-top: -654px;
background: white;
padding: 10px;
position: relative;
z-index: 999;
}
#container_country_info{
float: right;
margin-top: -135px;
background: white;
padding: 10px;
MAX-WIDTH: 57PX;
position: relative;
z-index: 999;
}
#container_country_info2{
float: right;
margin-top: -75px;
background: white;
padding: 10px;
position: relative;
z-index: 999;
}
/*COUNTRY CONTAINER CHARTS-----------------------------------------------END*/

/*-------------------------------MAP MENU----------------------------------*/
.pacontainer{
margin-left: 20%;
}
.pacontainer .pabox {
float: left;
width: 259px;
margin: 0px;
}
.superpacontainer{
width: 100%;
background-color: rgb(113, 163, 43);
position: absolute;
z-index: 99;
margin-bottom: 72px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.48);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.48);
}
.pacontainer .pabox .patop {
padding: 7px;
cursor: pointer;
}
.pacontainer .pabox .pabottom {
padding: 12px;
background-color: white;
color: #616161;
display: none;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
MARGIN-BOTTOM: 5PX;
POSITION: absolute;
Z-INDEX: 999;
margin-top: 4px;
}
.patopwdpa{
color: #ffffff;
text-align: center;
}
.patopcountry{
color: #ffffff;
text-align: center;
}
.patopregion{
color: #ffffff;
text-align: center;
}
.mapecoregion{
color: #ffffff;
text-align: center;
}
.patoplocation{
color: #d29323;
text-align: center;
}
.middlereg {
text-align: center;
margin: 0 auto;
padding: 2rem;}
.middlewdpa {
text-align: center;
margin: 0 auto;
padding: 2rem;}
.middlecountry {
text-align: center;
margin: 0 auto;
padding: 2rem;}
.active{color: green;}
.active1{color: green;}
.active3{color: green;}
.active2{color: green;}
.active4{color: green;}
#on{cursor: pointer;}
#off{cursor: pointer; color: #ac3232;}	
#block-block-126 > div.content > div > div > div.pabox.mapcountry > div.pabottom > p{
float: right;
position: relative;
max-width: 234px;
text-align: center;
font-weight: 100;
color: #0c0c0c;
padding-top: 15px;
font-size: smaller;
}
#block-block-126 > div.content > div > div > div.pabox.mapwdpa > div.pabottom > p{
float: right;
position: relative;
max-width: 235px;
text-align: center;
font-weight: 100;
color: #0c0c0c;
padding-top: 15px;
font-size: smaller;
}
#block-block-126 > div.content > div > div > div.pabox.maplocation > div.pabottom > p{
float: right;
position: relative;
max-width: 235px;
text-align: center;
font-weight: 100;
color: #0c0c0c;
padding-top: 15px;
font-size: smaller;
}
#block-block-126 > div.content > div > div > div.pabox.mapecoregion > div.pabottom > p{
float: right;
position: relative;
max-width: 235px;
text-align: center;
font-weight: 100;
color: #0c0c0c;
padding-top: 15px;
font-size: smaller;
}
#block-block-126 > div.content > div > div > div.pabox.mapregion > div.pabottom > p{
float: right;
position: relative;
max-width: 235px;
text-align: center;
font-weight: 100;
color: #0c0c0c;
padding-top: 15px;
font-size: smaller;
}
#block-block-126 > div > div > div > div.pabox.mapwdpa:hover { 
background-color: #4d721a;
}
#block-block-126 > div > div > div > div.pabox.mapcountry:hover { 
background-color: #4d721a;
}
#block-block-126 > div > div > div > div.pabox.mapregion:hover { 
background-color: #4d721a;
}
#block-block-126 > div > div > div > div.pabox.mapecoregion:hover { 
background-color: #4d721a;
}
/*SYSTEM SEARCH CUSTOM--------------------------------------------------------------------------------------*/
.ui-autocomplete-field-name{display:none!important;}
.ui-autocomplete-field-comment_count{display:none!important;}
#edit-submit-search-for-a{DISPLAY:NONE;}
#hidefilter{display:none;}
#searchdiv > div > div > div.view-content{DISPLAY:NONE;}
#edit-title-wrapper{
float: none;
padding: 0em 0em 0 0;
}
/*GENERAL---------------------------------------------------------------------------------------------------*/
.btn-primary {
color: #fff !important;
background-color: #ffffff!important;
border-color: #ffffff!important;
}
#main-content {
padding: 10px 0 10px 0 !IMPORTANT;
background-color: #ffffff!important;
}
